<header class="nav-up">

  <div class="logo">
    <img src="/uploads/assets/triaris-publicidad-guayaquil.png" alt="Diseño y Publicidad Digital Guayaquil">
  </div>
  <nav class="description">
    <ul>
      <li><h1>Publicidad</h1></li>
      <li><h1>Web</h1></li>
      <li><h1>3D</h1></li>
    </ul>
  </nav>
  <nav class="menu_main">
    <ul>
      <li>{{ dm.link('main/root')}}</li>
      <li>{{ dm.link('main/signin')}}</li>
    </ul>
  </nav>
</header>


<section id="slides">


  <div id="project_recent" class="banner_home">

   <div class="logo">
    <img src="/uploads/assets/triaris-publicidad-ecuador.png" alt="Diseño y Publicidad Digital Ecuador">
  </div>

  <div class="menu">
    <nav class="menu_floating">
      <ul>
        <li>{{ dm.link('main/root')}}</li>
        <li>{{ dm.link('main/signin')}}</li>
      </ul>
    </nav>
  </div>


  <a href="#" class="portafolio">
    <div class="information">
    <h3>Descarga Nuestra</h3>
    <h5>Presentación de Servicios</h5>
    </div>
  </a>


            <div class="category">
            <h1>Trabajos Recientes</h1>
            </div>
 
    <ul class="bxslider">

    <li class="element">
        <div class="information"> 


          
          <div class="projectUrl">
            <div class="url">
               {{ dm.link('http://www.masoportunidad.ec').text('App Móvil / www.triaris.com') }} 
            </div> 
          </div>
          
          <div class="description">
            <p>Rediseño de Sitio web para DC Comics, Empresa reconocida de amplia trayectoria en Miami - USA.

            </p>
          </div>

        </div>
        <div class="image">
          {{ dm.media("../images/movil-web-design-guayaquil.png").alt("IMAGEN") }}
        </div>
        <div class="bg_image">
          {{ dm.media("../images/01.jpg").alt("IMAGEN") }}
        </div>
      </li>
      <li class="element"> 

        <div class="information"> 


          <div class="projectUrl">
            <div class="url">
              {{ dm.link('http://www.alfadomus.com').text('Diseño de Catálogo / Productos 2015') }} 
            </div> 
          </div>

          <div class="description">
            <p>Brochure de productos 2015  para Alfadomus, En este Diseño hemos desarrollado un línea gráfica contemporanea acompañado de muestras fotográfica que destacan cada sección.

            </p>
            <h6><span class="icons icon-calendar"></span>2 / Sep / 2014</h6>
          </div>

        </div>
        <div class="image">
          {{ dm.media("../images/catalogo-design-alfadomus-guayaquil.png").alt("IMAGEN") }}
        </div>
        <div class="bg_image">
          {{ dm.media("../images/01.jpg").alt("IMAGEN") }}
        </div>
      </li>

      <li class="element">
        <div class="information"> 


          
          <div class="projectUrl">
            <div class="url">
               {{ dm.link('http://www.masoportunidad.ec').text('App Móvil / www.triaris.com') }} 
            </div> 
          </div>
          
          <div class="description">
            <p>Diseño de tienda Virtual El Pulguero Guayaquil, Desarrollo de Sitio web con plataforma administrativa DM para la gestión de su catálogo de productos on line.

            </p>
          </div>

        </div>
        <div class="image">
          {{ dm.media("../images/disenio-sitio-web-pulguero-guayaquil.png").alt("IMAGEN") }}
        </div>
        <div class="bg_image">
          {{ dm.media("../images/01.jpg").alt("IMAGEN") }}
        </div>
      </li>

      
    </ul>

  </div>








  <div id="services">
    <div class="title">
      {{ dm.media("/uploads/assets/triaris-disenio-y-publicidad-guayaquil.png")  }}

      <h1>5 años de Experiencia</h1>
      <h3>Generando Soluciones Efectivas en...</h3>
    </div>


    <ul class="serviceLines">
      <li class="line">
        <div class="image">
          {{  dm.media("/uploads/assets/publicidad-y-marketing-ecuador.png").set('.')   }}
        </div>
        <h5>Publicidad</h5>
        <ul class="service">
          <li>Creación de Imagen Corporativa</li>
          <li>Diseño Publicitario</li>
          <li>Diseño Editorial</li>
          <li>Ilustración</li>
        </ul>
      </li>
      <li class="line">
        <div class="image">
          {{  dm.media("/uploads/assets/los-mejores-sitios-web-joomla.png").set('.')   }}
        </div>
        <h5>Diseño Web</h5>
        <ul  class="service">
          <li>Diseño y Programación de Páginas Web</li>
          <li>Prosicionamiento en Buscadores - SEO</li>
          <li>Promoción en Redes Sociales</li>
          <li>App Móviles</li>
        </ul>
      </li>
      <li class="line">
        <div class="image">
          {{  dm.media("/uploads/assets/disenio-modelado-y-animacion-3d.png").set('.')   }}
        </div>
        <h5>Diseño 3D</h5>
        <ul  class="service">
          <li>Diseño de Stands</li>
          <li>Islas para Centros Comerciales</li>
          <li>Diseño de Exhibidores</li>
          <li>Diseño Arquitectónico</li>
          <li>Diseño de cabeceras de Góndolas</li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="clients">
    
    <div class="divider_image">
      
          {{  dm.media("/uploads/assets/desarrollo-web-movil-guayaquil.png").set('.')   }}
    </div>
    <div class="title">


      <h1>Nuestros Clientes</h1>
      <h3>De seguro conoces alguno</h3>
    </div>

    <div class="client_list"> 
    <ul>
      <li>{{  dm.media("/uploads/client/avconsa-empresa-de-construccion-guayaquil.jpg")   }}</li>
      <li>{{  dm.media("/uploads/client/alfadomus-adoquines-de-arcilla-guayaquil-ecuador.jpg")   }}</li>
      <li>{{  dm.media("/uploads/client/forest-colors-design-consultoria-guayaquil.jpg")   }}</li>
      <li>{{  dm.media("/uploads/client/SFA-guayaquil-impresion-y-gigantografia.jpg")   }}</li>
      <li>{{  dm.media("/uploads/client/fulgore-artesanias-bertha-serrano-guayaquil.jpg")   }}</li>
      <li>{{  dm.media("/uploads/client/Process-Risk-Solution-Ecuador.jpg")   }}</li>
    </ul>
    </div>

    <div class="sliding_image">
      {{  dm.media("../images/agencia-de-publicidad-guayaquil.png").set('.')   }}
    </div>
  </div>

    
  <div id="cafe">
   
        <div class="title">
           <div class="divider_image">
          {{  dm.media("/uploads/assets/agencia-creativa-guayaquil.png").set('.')   }}
    </div>

          <h1>Tomemos un Café</h1>
          <h3>Y conversemos de tu Proyecto</h3>
        </div>
  </div>




</section>

<!-- 


  <div class="socialIcons"></div>
  <div class="menu_home">
    <ul class="elements">
      <li class="element" data-slide="1"><a href="#">Proyectos Recientes</a> </li>

      <li class="element" data-slide="2"><a href="#">Servicios</a></li>

      <li class="element" data-slide="3"><a href="#">Clientes</a></li>

      <li class="element" data-slide="4"><a href="#">Contactos</a></li>
    </ul>
  </div>

  -->