@import 'modular-scale';
// Links
$link-color:             #08c;
$link-color-hover:        darken($link-color, 15%);

// Grays
$black:                 #000;
$gray-darker:            #222;
$gray-dark:              #333;
$gray:                  #555;
$gray-light:             #999;
$gray-lighter:           #eee;
$white:                 #fff;

// Theme Colors

$gray-triaris: 					#f0f0f0; 
$red: 					#ff0000;	//rojo
$red-dark: 					darken(#ff0000,40%);	//rojo
//colorTones
$lightblue: #017eba;
$blue: #0a3e83;
$bluegray: #576f87;
$deepblue: #023578;
$yellow: #ff8f22;



//Typography


//Typography

$icon: 'icomoon';

 
$title_heavy: "arial";
$title_medium: "arial";
$title_regular: "arial";

$text_regular: 'robotoLight', sans-serif;
$text_medium: 'robotoRegular', sans-serif;
$text_heavy: 'robotoBold', sans-serif;

$base-font-family:        "robotoRegular";


//$base-font-family:        "Ubuntu";
$ms-size: 13px;
$ms-ratio: $golden $fifth;

$normpx : $ms-size;
$medpx : ms(1);
$smallpx : ms(-1);
$xsmallpx : ms(-2);
$xxsmallpx : ms(-3);
$xxxsmallpx : ms(-4);
$largepx : ms(1);
$xlargepx : ms(2);
$xxlargepx : ms(3);
$xxxlargepx : ms(4);

$base-font-size: $normpx;
$base-line-height: $normpx; //$medpx;*/
$text-color: $gray-dark;

// Grid System
$total-columns  : 24;
$column-width   : 32px;
$gutter-width   : 10px;
$grid-padding   : 0;//$gutter-width;
//$container-width: 998px;
$container-style: magic;
$show-grid-backgrounds  : false;

// Breakpoints
$desktop: 800px $total-columns lt-ie9;
$tablet: 0px $total-columns/2 799px;


@import 'susyone';


