<div id="dm_page" {% if isEditMode %} class="edit" {% endif %} >
<div class="content">
	
	<div class="dm_layout">
		{{ helper.renderArea('page.content') }}
	</div>
</div>
	<div class="footer">
	{{ helper.renderArea('layout.bottom', '.clearfix') }}
	</div>
</div>
{{ helper.renderBehaviors() }}