#clients{

				.client_list{
					clear: both;
					width: 90%; 
					max-width: 750px; 
					margin: 5% auto;
					text-align: center;
					display: block;
					padding: 0;




				}

				$li:170px;
				$liDeg: 45deg;
				$liTop: $li / 3.50;

					ul{ text-align: right; margin: 6% 0 0 6%;
					background: url(../images/bg_client_list.png) left bottom no-repeat ;
					background-size: 100% auto;
					height: 500px;
						
						
					}
					li{
						width: $li;
						height: $li; 
						float:left;
						background: white;
						margin-right: $li / 2.36;
						overflow: hidden;
						margin-top: 0;
						@include rotate($liDeg);

						img{ @include rotate(-$liDeg); }
						&:nth-child(3){  margin-right: 0; }
						&:nth-child(4){  margin-left: $li / 1.4; margin-top: - $liTop; }
						&:nth-child(5){  margin-top: - $liTop; }
						&:nth-child(6){  margin-left: $li / 0.7;  margin-top: - $liTop; }
					}
					li:hover{ 
						//width: $li + ($li/2);
						//height: $li + ($li/2);

					}

}





