#project_recent{
	margin: 0;
	@include menu-horizontal();
	overflow: hidden;
	
	.category{  
		position: absolute;
		width: 35%;
		min-width: 350px;
		top: 38%; 
		left: 7%;
		margin-top: -60px;
		color: white;
		text-transform: uppercase;
		z-index: 1;
		@include skew(white,rgba(red,0.3), 52deg, 60px);
			h1{ 
				text-indent: 20%;
				position: absolute; 
				top: 0;
				left:0;
				width: 100%;
				font-size: 2.5em;
				z-index: 1;
				text-align: left; 
			}
		}

	
	.element{
		position: relative;
		overflow: hidden;

		.bg_image{ position: relative; width: 100%; z-index: 1; }

		.image{	
			position: absolute;
			z-index: 10;
			top:22%; 
			left:43%;
			width: 50%;
		}



		.information{ 
			z-index: 10;
			position: absolute;
			width: 53%;
			top: 38%; 
			left: 7%;
			height: 500px;
		 
		

			.projectUrl{
				color: white;
				display: block;
				clear: both;
				position: relative;
				text-transform: uppercase;
				padding: 0;


				

				.url{
					margin: 0;
					padding: 0;
					top: 0;
					width: 82%;
					position: relative;
					float: right;
					@include skew(white,rgba(darken(red,50%),0.3), 52deg, 60px);
						a.link{
							font-family: $text_regular;
							position: absolute;
							top: 0;
							left:0;
							margin: 18px 0;
							width: 100%;
							color: white;
							float: right;
							font-size: 1.5em;
							text-align: left; 
							text-indent: 15%;
						}
				}
			}

			.description{
				color: white;
				display: block;
				overflow: hidden;
				clear: both;
				position: relative;
				width: 30%;
				left:33%;
				p{ 
				margin: 25px 0;
				text-align: right;
				}
				height: 200px;

				span.icons{ font-family: 'icomoon'; padding-right: 10px; }
				
			}

		}

			
	}
}





