
////////--- BUTTONS ---////////


$default-color-bg: red !default;
$default-color-text: green !default;
$default-round: 5px !default;

@mixin button_link ( $color-bg: $default-color-bg, $color-text: $default-color-text, $round: $default-round){
    margin:   0px;
    display: inline-block;
    clear: both;
    @include border-radius($round);
    text-transform: uppercase;
    padding: 0px 15px;
    //background: $color-bg url(../images/button_bg.png) 95% 52% no-repeat;
    
    color: $color-text;
    font-family: $title-medium;
    text-shadow: rgba(black,0.2) 0px 0px 1px;
    transition: all 0.2s ease-in-out;

    &:hover{
        //background: darken($color-bg,7%) url(../images/button_bg.png) 95% 52% no-repeat;
        color: lighten($color-text,80%);
        //@include box-shadow(rgba(black,0.6) 0px 0px 5px);
        text-shadow: rgba(black,0.2) -1px 1px 1px;
    }
}

@mixin button_link_back ( $color-bg: $default-color-bg, $color-text: $default-color-text, $round: $default-round){
    margin:  35px 15px 15px 15px;
    display: inline-block;
    clear: both;
    @include border-radius($round);
    text-transform: uppercase;
    padding: 20px 30px 20px 50px;
    background: $color-bg url(../images/button_bg_back.png) 7% 50% no-repeat;
    color: $color-text;
    font-family: $title-medium;
    text-shadow: rgba(black,0.2) 0px 0px 1px;
    transition: all 0.2s ease-in-out;

    &:hover{
        background: darken($color-bg,7%) url(../images/button_bg_back.png) 7% 50% no-repeat;
        color: lighten($color-text,80%);
        @include box-shadow(rgba(black,0.6) 0px 0px 5px);
        text-shadow: rgba(black,0.2) -1px 1px 1px;
    }
}

$color-border-default: green; 
@mixin border_color_top($color-border: $color-border-default ){
    background: lighten($color-border,2%); 
    border-top: 1px solid lighten($color-border,7%); 
    border-bottom: 1px solid darken($color-border,4%);
}
@mixin border_color_bootom($color-border: $color-border-default ){
    background: lighten($color-border,2%); 
    border-top: 1px solid darken($color-border,7%);
    border-bottom: 1px solid lighten($color-border,13%); 
}
