$default-bgcolor: $gray-lighter !default;
$default-color: $gray !default;
$default-degrees: 55deg !default;
$default-height: 50px !default;


@mixin skew(
    $color:$default-color, 
    $bgcolor:$default-bgcolor, 
    $degrees: $default-degrees,
    $height: $default-height

     ){

        &:before{
            z-index: -1;
            background: $bgcolor;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            position: relative;
            content:"";
            transform: skewX($degrees);
            transform-origin: top left;
            height: $height;
        }
    
}




$default-rotate: 50deg !default;
@mixin rotate($rotate: $default-rotate){
    -ms-transform: rotate($rotate); /* IE 9 */
    -webkit-transform: rotate($rotate); /* Chrome, Safari, Opera */
    transform: rotate($rotate);
}



/* DIAGONAL DIVS */

$default-degrees: 5 !default;

@mixin diagonal-both($degrees: $default-degrees){
    
    position: relative;
    z-index: 2;

    &:before, &:after{
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        content: '';
        background: black;

    }

    &:before{
        //background: darken($deepblue,3%);
        @include transform-origin(0%,50);
        @include transform(skew(0,#{$degrees}deg));
        //height: 250px;
    }
    &:after{        
        //background: $deepblue;
        @include transform-origin(50,0%);
        @include transform(skew(0,-(#{$degrees}deg)));
        //height: 250px;
    }

}

/* DIAGONAL DIVS */

$default-degrees-left: 5 !default;
$default-degrees-right: 5 !default;

@mixin diagonal-asimetrical($degrees-left: $default-degrees-left, $degrees-right: $default-degrees-right){
    
    position: relative;
    z-index: 2;

    &:before, &:after{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: -70px;
        content: '';
        overflow: hidden;
    }

    &:before{
        bottom: -20px;
        background: rgba(darken($deepblue,3%), 0.9);
        @include transform-origin(100%,0);
        @include transform(skew(0,#{$degrees-left}deg));
    }

    &:after{
        background: rgba(darken($deepblue,0.5), 1);
        @include transform-origin(0,100%);
        @include transform(skew(0,-(#{$degrees-right}deg)));
    }

}

@mixin diagonal-left($degrees: $default-degrees){
    
    position: relative;
    z-index: 2;

    &:before, &:after{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        //background: black;
    }

    &:before{
        //background: darken($deepblue,3%);
        @include transform-origin(100%,0);
        @include transform(skew(0,#{$degrees}deg));
    }
    &:after{        
        //background: $deepblue;
        @include transform-origin(0,100%);
        @include transform(skew(0,#{$degrees}deg));
    }

}
