
/* --- FORMS --- */


$default-bgcolor: $gray-lighter !default;
$default-color: $gray !default;
$default-radius: 0px !default;


@mixin form($color:$default-color,$bgcolor:$default-bgcolor, $radius: $default-radius){

	
color: $color;
padding-top: 1px;

ul{ margin: 0; overflow: hidden; }
.form_element{ 

	margin: 1% 0;
	list-style: none;
	display: block; 
	position: relative;
}
label{   font-size: $smallpx + ($smallpx / 3); margin-bottom: 3px; display: block;   }

input[type='text'], input[type='password'], input[type='file'], .trigger, textarea, select{
        color: rgba(darken($color, 40%),0.7);
        background: lighten($bgcolor,0.5%);
        border: 1px solid $gray-lighter;
        overflow: hidden;
        width: 98%;
        font-family: $text-regular;
        @include border-radius($radius);
        height: auto;
        padding: $radius/ 2;
    }

    .trigger{ width: 96%; margin: auto; }


	input[type='file']{
		font-size: 10px;
	}
    input[type='text']:focus, input[type='password']:focus, .trigger.open, textarea:focus, button:hover, input[type='submit']:hover{
		color: lighten($color, 20%);
		background: white; 
		border: 1px solid rgba(lighten($color, 20%),0.3);
		transition: all 0.2s ease-in-out;
		box-shadow: 0 1px 2px rgba($lightblue, 0.2);
    }

    button, input[type='submit']{
        display: inline-block;
        border: 1px solid lighten($lightblue,0.5);
        background: $color url(../images/bg_button.png) no-repeat;
        color: $bgcolor;
        padding:  10px;
        //font-family: $text-regular;
        cursor: pointer;
        width: 98%;
        @include border-radius($radius);
    }
     button:hover, input[type='submit']:hover{
     	background: lighten($color, 10%);
     	color: $bgcolor;
     }

    .options{
        display: block;
        border: 0;
        background: lighten($gray-light, 35%);
        padding:  10px;
        font-family: $text-regular;
        cursor: pointer;
        width: 98%;
        margin: 0 2%;
        @include border-radius($radius);

        li{ color: gray; }
        li.selected, li:hover{ background: rgba($gray,0.1); color: $gray; }
        
    }
	
	.error, .error_list { 
        li{
        	position: absolute;
        	width: 10px;
        	height: 10px;
        	right: 17px;
        	top: 20%;
        	list-style: none;
            text-align: center;
            background: url(../images/icons/error.png) 50% center no-repeat;
            background-size: 100%;
            text-indent: -1000px;
            padding: 7px;
            overflow: hidden;
            display: block;
        }
    }

}


$default-element-number: 55%;

@mixin form-elements($columns: $default-element-number){
 		
		.form_element	{ 
			width: 100% / $columns;

			@include span-columns(11);
			a{ color: lighten($gray,5%); }
			a:hover{ color: $blue; }
			display: inline-block;
			//font-family: $title-heavy;
			font-size: 1.8em;
			padding: 7px  20px;
			&:nth-child(4n+5){ font-size: 1.8em; font-family: $title-regular;}
			&:nth-child(2n+7){ font-size: 1.7em;  font-family: $title-medium;}
			&:nth-child(3n+1){ font-size: 2.1em;  font-family: $title-heavy;}
			&:last-child{ clear: both; display: block;}
		}
	}
	