@mixin make-menu($align: left,
				 $color: $text-color, 
				 $hover: white, 
				 $background: white, 
				 $background-hover: $text-color, 
				 $orientation: horizontal, 
				 $separator: '', 
				 $margin: 0, 
				 $padding:0, 
				 $separator-margin:0, 
				 $separator-padding: 0,
				 $separator-color: black,
				 $font: $base-font-family,
				 $border: none,
				 $border-radius: 0){

	text-align: $align;
	ul,li,a,span{ outline: none }
	span{ color: $hover;
	 	  display: inline-block; 
	 	  background: $background-hover; 
	 	  padding: $padding;
	 	  border: $border;
		  @include border-radius($border-radius);
		}
	ul{
		margin:0;
		padding:0;
	
		@if $orientation==horizontal
		{
			display: inline-block;
			li { float: left;}
		}
		@if $orientation==vertical
		{
			display: block;
		}
		li{
			margin: $margin;
			list-style: none;
			@if $separator!=''{
				&:after{ text-align: center;
						 content: $separator; 
						 margin: $separator-margin; 
						 padding: $separator-padding; 
						 color: $separator-color; 
						 vertical-align: middle;
						 display: inline-block;}
			&:last-child{ 
				&:after{ content: ""; margin: 0; padding: 0 }
			}
		}

		a{
			padding: $padding;
			font-family: $font;
			display: inline-block;
			color: $color;
			background: $background;
			border: $border;
			@include border-radius($border-radius);
			cursor: pointer;
			text-decoration: none;
			&:hover{
				color: $hover; background: $background-hover;
			}
		}
		span{
			font-family: $font;
			}
		}
	}
} 


$main-menu-config:(
	align: right,
	orientation: horizontal,
	margin: 3px,
	padding: 10px 25px,
	background: transparent,
	background-hover: rgba(0,0,0,0.25),
	border-radius: 5px,
	separator: '',
	);

.main_menu{
	@include make-menu( $main-menu-config...);
}