
$default_align: right;

@mixin menu_horizontal($align: $default_align){
    text-align: $align;
    ul,li,a,span{ outline: none }
    ul{
        display: inline-block;
        margin: 0; padding: 0;
        li{
            margin: 0; padding: 0;
            float: left;
            list-style: none;

            a{
                font-family: $title_regular;
                padding: 0;
                cursor: pointer;
                text-decoration: none;
            }
            span{
                font-family: $title_regular;
            }


        }

    } 
}

@mixin menu_vertical($align: $default_align){
    text-align: $align;
    ul,li,a,span{ outline: none }
    ul{
        display: block;
        margin: 0; padding: 0;
        li{
            margin: 0; padding: 0;
            float: left;
            list-style: none;
            width: 100%;
            a{
                width: 100%;
                font-family: $title_regular;
                margin: 0; padding: 0;
                cursor: pointer;
                text-decoration: none;
            }
            span{
                font-family: $title_regular;
            }


        }

    } 
}


$default_text: $gray-darker;
$default_text_hover: white;
$default_bg: $gray-lighter;

@mixin menu_colors( $text: $default_text, $text_hover: $default_text_hover, $bg: $default_bg ){
    ul{
        li{
            
            /* SEPARADOR */
            color: rgba($text, 0.1);
            //@include text-shadow (1px 1px white, 1);
            
            &:after{ content: "»"; font-family: $text-regular; padding-left: 15px;  }
            //&:after{ content: "≡"; font-size: 24px; font-family: $text-regular; }
            &:last-child{ 
                &:after{ content: ""; }
            }

            /* ENLACES */

            a,span{
                background: rgba($bg, 0);
                color: $text;
                transition: all 0.4s ease-in-out;
                border-bottom: 3px solid rgba(white, 0);
                
                @include text-shadow (rgba(white,0.3) 1px 1px );
            }
            a:hover, span{
                //background: rgba($bg, 0.8);
                color: $text;
                border-bottom: 3px solid rgba(white, 1);
                //@include skew(white,rgba(darken(red,50%),0.3), 52deg, 60px);
                //@include text-shadow (rgba(black,0.2) 1px 1px );
            }
        }
    }
}
