//@include establish-baseline();
html {font-size:$normpx;}
h1,h2,h3,h4,h5,h6{font-weight: bold; margin:0.6em 0;}
body{
	font-family: $base-font-family;
	color: $text-color;
	
	line-height: 1.5em;
}


h1 {  
	font-size:$xxxlargepx;
	
}
h2 {  
	font-size: $xxlargepx;
	
}
h3 {  
	font-size: $xlargepx;
	
}
h4 {  
	font-size: $largepx; 
}
h5{  
	font-size: $medpx; 
}
h6{  
	font-size: $normpx;
	 
}

p{
	font-size: $normpx;
	text-align: justify;
}

b, strong { font-weight: bold;}
i, em { font-style: italic;}

a{
	color: $link-color;
	&:hover{
		color: $link-color-hover;
	};
}
img{
  max-width: 100%;
  height: auto;
  width: auto;
  box-sizing: border-box;
}
