@include at-breakpoint($desktop)
{

		background: $gray-triaris;
	.dm_page_content {
		@include span-columns(24);
	}



		// HEADER EFFECTS
		.nav-up { top: -120px;	}
		.nav-down{  opacity: 0.8; transition: all 0.4s ease-in-out; }
		.nav-down:hover{  opacity: 1; }

		// HEADER DESIGN
		header{
			@include span-columns(24);
			overflow: hidden;
			z-index: 10;
			position: fixed;
			background: rgba(255, 255, 255, 0.5) url(../images/bg_header.jpg);
			height: 120px;
			top: 0;
			transition: top 0.2s ease-in-out;
			

			.logo{ @include span-columns(4);
				img{ margin: 10px 20px; }
			} 


			.description{
				margin-top: 2%;
				@include span-columns(7);
				@include menu_horizontal(left);
				li{
					text-transform: uppercase;
					font-size: 0.6em; 
					h1:after{ content: "●"; padding: 0 25px; font-size: 0.8em;  }
					&:last-child{ 
						h1:after{ content: ""; padding: 0 25px;  } 
					}
				}

				h1{ color: white; 
				}

			}
			.menu_main{
				margin: 2.5% 0 0 0 ;
				@include span-columns(10 omega);
				@include menu_horizontal(right);
				@include menu_colors(white, $red-dark, white);
				ul{

					padding: 0;
					li{

						a, span{
							font-family: $text_medium;
							font-size: 1.2em;
							padding: 7px 15px;
							text-transform: uppercase; 
						}

					}

				} 
			}
		}






		.banner_home{

			.bx-viewport, .bx-wrapper { 
				border: 0px;
				left:0; 
				padding: 0;
				margin: 0;
			}
			.bx-wrapper .bx-pager.bx-default-pager a {
				background: #afafaf;
				width: 20px;
				height: 20px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				border-radius: 10px;
			}

			.bx-wrapper .bx-pager.bx-default-pager a:hover,
			.bx-wrapper .bx-pager.bx-default-pager a.active {
				background: white;
			}


			.bx-pager{ 
				width: 10%;
				margin: auto;
				height: 5%;
				left: 45%;
				position: absolute;
				bottom: 20%;
			}


				/* DIRECTION CONTROLS (NEXT / PREV) */

				.bx-wrapper .bx-prev {
					left: 20px;
					background: url(../images/controls_bxslider_home.png) no-repeat 0 -69px;
				}
				
				.bx-wrapper .bx-next {
					right: 20px;
					background: url(../images/controls_bxslider_home.png) no-repeat -75px -69px;
				}

				.bx-wrapper .bx-prev:hover {
					background-position: 0 0;
				}

				.bx-wrapper .bx-next:hover {
					background-position: -75px 0;
				}

				.bx-wrapper .bx-controls-direction a {
					position: absolute;
					overflow: hidden;
					text-indent: 9999px;
					top: 35%;
					width: 69px;
					height: 69px;
				}
		}




		#slides{

	/* COMOON STYLES */

	.title{
		margin-bottom: 3%;
		width: 100%;
		text-align: center;
		font-family: $text_heavy;
		text-transform: uppercase;
		h1{color: gray; font-size: 5em; }
		h3{color: gray; font-size: 2.7em; }
	}

	.sliding_image{
		display: none;
	}

	.divider_image{
		z-index: 3;
		width: 20%;
		height: 250px;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: -280px;
		position: absolute;
		img{ position: absolute; bottom: 0; margin-left: -50%; }
	}


			#project_recent{
				z-index: 1;
				position: relative;

				.menu{
					width: 80%;
					margin: auto;
					position: absolute;
					top: 18%;
					left: 10%;
					z-index: 5;

					.menu_floating{
						@include menu_horizontal(center);
						@include menu_colors(white, $red-dark, white);
						ul{

							padding: 0;
							li{

								a, span{
									font-family: $text_medium;
									font-size: 1.2em;
									padding: 7px 15px;
									text-transform: uppercase; 
								}

							}

						} 

					}


				}

				.logo{
					width: 20%;
					margin: auto;
					position: absolute;
					top: 2%;
					left: 40%;
					z-index: 10;
				}

				a.portafolio{
					position: absolute;
					bottom: 13%; 
					left: 62%;
					z-index: 5;
					background: url(../images/triaris-portafolio-diseno-web-3d-guayaquil.png) no-repeat;
					width: 290px;
					height: 290px;
					text-decoration: none;
					text-transform: uppercase;
					color: white;

					.information{
						margin: 97px 60px 0 0;
						width: 140px;
						float: right;
						h3{margin: 0; font-family: $text-heavy; font-size: 1.8em; line-height: 1em; }
						h5{margin: 0; font-family: $text-regular; font-size: 1.1em; line-height: 1em;}

					}
				}

			}



			#services{
				
				background-size: 100% auto;
				overflow: hidden;
				display: block;
				@include diagonal-left(-8); //degrees
				&:after{ background: #f0f0f0 url(../images/dec-disenio-web-guayaquil.jpg) center top no-repeat; 
				}
				padding: 5% 0 20% 0;
				

				

				.serviceLines{
					width: 90%;
					max-width: 900px;
					margin: auto;
		
					.line{
						text-align: center;
						@include isolate-grid(6,18);
						list-style: none;
						h5{ margin-top: 10%; text-transform: uppercase; }

						.service{
							float: inline-block;
							@include menu_vertical(left);
							li{ padding-left: 15px; list-style: none;
								background: url(../images/vn_red.png) -18px 50% no-repeat; 
							 }
						}

					}

				}
			}

			

			#clients{
				background: red url(../images/dec-triaris-sitios-wed-guayaquil.jpg) center top no-repeat;
				background-size:  auto 100%;
				overflow: hidden;
				margin-top: -20%;
				padding: 30% 0 30% 0;
				clear: both; 
				display: block;

				.divider_image{
					margin-top: -28%;
					img{ margin-left: 0; }
			    	
			    }


				.title{
					h1{color: white;  }
					h3{color: white; }
				}


			}
			

			#cafe{
				background: $gray-triaris;
				padding: 0;
				width: 100%;
			    position: relative;
				height: 150px;

			    

			    .title{
					
					margin-top: 5%;

					
			    }

 
			}

		}
	.footer{
		padding: 3% 0;
		clear: both;
		background: $gray-darker;

		.dm_layout_bottom {
			margin: auto;
			float: none;
			width: 1008px;

		}
		font-size: 1.4em;

		h2.red{  color: rgba($red,0.8); } 
		h3, h2{ text-transform: uppercase; color: white;}
		h3{  margin-bottom: 25px;}
		p{ color:rgba(white,0.8); }
		ul { padding: 0; }
		li{ margin-bottom: 7px; color:rgba(white,0.8); list-style: none; }
		
		a.link{ text-decoration: none; color:rgba(white,0.8); display: block; outline: none;
			&:hover{ color:rgba(white,1); transition: all 0.4s ease-in-out;
				span{display: inline-block; color:white; }
				span.social{ background: rgba($red,1); }
			}
		}
		
		span{display: inline-block; color:rgba(white,0.8); }
		span.social, a.cotiza{ background: rgba($red,0.8); padding: 10px; margin-right: 10px; }
		strong{ color: white; }

		a.cotiza{ 
			margin-right: 0px; 
			text-transform: uppercase; 
			text-align: center;
			font-family: $text-heavy;
			font-size: 1.2em; letter-spacing: 0.2px;
		}
		a.cotiza:hover{ background: rgba($red,1); }


		.credits{ border-top: 3px dotted $gray; margin: 30px 0 0 0; padding: 25px 0 5px 0; 
			p{ text-align: center; }
		}

		
	}



}

	@include at-breakpoint($tablet)
	{
		.dm_page_content {

		}

	}